<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Cadastrar Produto</h1>

        <div class="cliente-select">
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Selecione o Cliente</mat-label>
                <mat-select>
                    <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                        {{cliente.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="tipo-seguro">
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Selecione a Categoria do Seguro</mat-label>
                <mat-select>
                    <mat-option *ngFor="let categoriaProduto of categoriasProduto" [value]="categoriaProduto">
                        {{categoriaProduto}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="numero-apolice">
            <mat-form-field class="fullWidth" appearance="fill">
                <mat-label>Número da Apólice</mat-label>
                <input 
                    [(ngModel)]="produto.numeroApolice"
                    name="numeroApolice"
                    [formControl]="numeroApolice" 
                    required 
                    matInput 
                    >
                <mat-icon matSuffix>assignment</mat-icon>
            </mat-form-field>
        </div>

        <section class="section-cocorretagem">
            <mat-checkbox class="checkbox-cocorretagem">Co-corretagem</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Seguradora</mat-label>
            <input 
                [(ngModel)]="produto.seguradora"
                name="seguradora"
                [formControl]="seguradora" 
                required 
                matInput 
                >
            <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Fim da Vigência</mat-label>
            <input 
                [(ngModel)]="produto.dataVigencia"
                name="dataVigencia"
                [formControl]="dataVigencia" 
                required 
                matInput 
                placeholder="Ex: 29/01/2025"
                [dropSpecialCharacters]="false"
                mask="00/00/0000">
            <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Prêmio Liquído (R$)</mat-label>
            <input 
                [(ngModel)]="produto.valorPremioLiquido"
                name="nome"
                [formControl]="valorPremioLiquido" 
                required 
                matInput 
                >
            <mat-icon matSuffix>monetization_on</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Comissão Venda (%)</mat-label>
            <input 
                [(ngModel)]="produto.comissaoVendaPorcentagem"
                name="nome"
                [formControl]="comissaoVendaPorcentagem" 
                required 
                matInput 
                >
            <mat-icon matSuffix>monetization_on</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Valor Comissão a Receber (R$)</mat-label>
            <input 
                [(ngModel)]="produto.valorComissaoReceber"
                name="nome"
                [formControl]="valorComissaoReceber" 
                required 
                matInput 
                >
            <mat-icon matSuffix>monetization_on</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Agenciamento</mat-label>
            <input 
                [(ngModel)]="produto.agenciamentoPorcentagem"
                name="nome"
                [formControl]="agenciamentoPorcentagem" 
                required 
                matInput 
                >
            <mat-icon matSuffix>monetization_on</mat-icon>
        </mat-form-field>

    </form>
</div>