.container {
    width: 35rem;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    border-radius: 1rem;
}

.section-cocorretagem {
    margin: 12px 0;
}

.checkbox-cocorretagem {
    margin: 0 12px;
} 

.fullWidth {
    width: 100%;
}

.mediumWidth {
    width: 30%;
    margin: 0px 5px 0px 0px;

}

h1 {
    text-align: center;
}

img {
    height: 8rem;
    margin: auto;
}

button {
    margin-top: .5rem; 
}