.container {
    width: 90%;
    margin: auto;
}

.mat-card-title {
    background: linear-gradient(90deg, rgba(0,138,255,1) 0%, rgba(0,255,244,1) 51%, rgba(0,113,240,1) 98%);}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

button {
    width: 100%;
    background: linear-gradient(90deg, rgba(0,194,255,1) 0%, rgba(62,151,255,1) 100%);
}


mat-form-field {
    width: 100%;
}

table {
    width: 100%;
}

.edit {
    color: rgb(0, 81, 255);
}

.delete {
    color: red;
}