.container {
    width: 90%;
    margin: auto;
}

.card-opcoes {
    background: rgb(255, 245, 245);
}

.mat-card-title {
    color: #4C6085;
    padding: 2px;
    background: radial-gradient(circle, rgba(232,233,233,1) 0%, rgba(153,253,255,1) 50%, rgba(200,219,244,1) 100%);

}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

button {
    color:white;
    margin-top: 1rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,194,255,1) 0%, rgba(62,151,255,1) 100%);
}

mat-form-field {
    width: 100%;
}

table {
    text-align: center !important;
    width: 100%;
}

tr.mat-header-row {
    height: 35px;

}


th {
    background:  #39A0ED;
    color: white;
}

mat-cell{
    display:flex !important;
    justify-content:center!important;
    
  }

.mat-header-cell {
    text-align: center;
}

tr.mat-row:nth-child(even) {
    height: 30px;
    background-color: rgba(0, 179, 166, 0.04);
    
}

tr.mat-row {
    height: 30px;
}

.edit {
    color: #39A0ED;
}

.delete {
    color: rgb(255, 45, 45);
}

.listar-produtos {
    color: #13C4A3;
}














tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }